<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

   <appSettings/>
  <connectionStrings>
   <add connectionString="Data Source=".;Initial Catalog=aspnetdb;Integrated Security=SSPI" name="FBAConnectionString"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="FBAMembershipProvider">
      <providers>
        <add name="FBAMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider,System.web, version=2.o.o.o, Culture=neutral,PublicToken=",
             connectionStringName="FBAConnectionString"
             enablePasswordReset="false"
             enalbePasswordRetrieve="false"
             passwordFormate="Clear"
             requiredUniqueEmail="false"
             requireUniqueEmail="false"
             applicaitonNam="/"
             
             
             
          
        />
      
      </providers>
    
    </membership>
  <roleManager defaultProvider="FBARoleProvider" enabled="true" cacheRolesInCookie="false">
    <providers>
      <add name="FBARoleProvider",
           type="",
           connectionStringName="FBAConnection",
           applicationName="/"
         
           
  />
    </providers>
  </roleManager>
          <compilation debug="true"/>
           <authentication mode="Forms"/>
    
    
            
          
  </system.web>
   
     
  

</configuration>
